@keyframes cycle_long {
    0% {
        background:
        linear-gradient(63deg, rgb(255, 0, 0) 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, rgb(255, 0, 0) 78%),
        linear-gradient(63deg, transparent 34%, rgb(255, 0, 0) 38%, rgb(255, 0, 0) 58%, transparent 62%),#444;
    }
    100% {
        background:
        linear-gradient(63deg, rgb(255, 255, 0) 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, rgb(255, 255, 0) 78%),
        linear-gradient(63deg, transparent 34%, rgb(255, 255, 0) 38%, rgb(255, 255, 0) 58%, transparent 62%),#444;
    }
  }

.pattern{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background:
        linear-gradient(63deg, rgb(0, 255, 0) 23%, transparent 23%) 7px 0,
        linear-gradient(63deg, transparent 74%, rgb(0, 255, 0) 78%),
        linear-gradient(63deg, transparent 34%, rgb(0, 255, 0) 38%, rgb(0, 255, 0) 58%, transparent 62%),#444;
    background-size: 16px 48px;
}

.pattern2{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    animation-name: cycle_long;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
    background-size: 16px 48px;
}

.pattern3{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    animation-name: cycle_long;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
    background-size: 16px 48px;
}