{% extends 'dashboard/base.html' %}
{%load static%}
{% block main %}  
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
{% if user.is_authenticated %}
<script  src="{% static 'js/dashboard.js' %}"></script>
<script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var webSocket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/index/");

        webSocket.onmessage = function(e) {
            console.log(e.data)
            doPoll()
        };
        
        webSocket.onclose = function(e) {
            console.error('Socket closed unexpectedly');
            window.location.reload();
        };
</script>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}